.header__logo {
  padding: 0;
  margin: 0 auto 27px 27px;
}

@media screen and (min-width: 879px) {
  .header__logo {
    margin: 0 auto 35px 0;
    max-width: 142px;
    max-height: 33px;
    width: 100%;
  }
}
