.profile__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.214;
  color: white;
  text-align: center;
  margin: 7px auto 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 879px) {
  .profile__subtitle {
    text-align: left;
    font-size: 18px;
    line-height: 1.22;
  }
}
