.header__link {
	color: #fff;
	padding: 0px;
	margin: 0 27px 15px 24px;
	align-self: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px;
}

@media screen and (min-width: 879px) {
	.header__link {
		margin: 0 0 15px 24px;
		font-size: 18px;
	}
}
