.header__burger {
	display: none;
	background: url(../../../images/burger.svg) no-repeat center;
	border: none;
	width: 24px;
	margin: 0 30px 17px 0;
}

.header__burger_active {
	background: url(../../../images/burgerCloseButton.svg) no-repeat center;
	border: none;
	width: 24px;
	margin: 0 30px 17px 0;
}

@media screen and (max-width: 600px) {
	.header__burger {
		display: block;
	}
}
