.popup__form {
	position: absolute;
	width: 430px;
	background-color: #fff;
	border-radius: 3%;
	padding: 34px 36px 37px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
}

@media screen and (max-width: 600px) {
	.popup__form {
		width: 282px;
		padding: 25px 22px;
	}
}
