.header {
	min-width: 320px;
	padding: 28px 0 0;
	margin: 0;
	box-sizing: border-box;
	border-bottom: 1px solid #545454;
	border-top: 1px solid #545454;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #fff;
}

@media screen and (min-width: 879px) {
	.header {
		max-width: 880px;
		padding: 45px 0 0;
		margin: 0 auto;
	}
}
